body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a1f44;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  margin: 1rem;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  padding: 1rem;
  height: 200px;
  width: 170px;
  border-radius: 10%;
  color: #000000;
  cursor: pointer;
  background: linear-gradient(
    to top,
    hsl(218deg 60% 75% / 77%),
    hsl(192deg 48% 30%)
  );
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
  transform: translateZ(0) scale(1.02) perspective(1000px);
}

.box:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.current-weather-box {
  display: flex;
  width: 30vw;
  padding: 1rem;
  height: 150px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.search-city-name {
  text-align: center;
}

.current-weather-box .location,
.current-weather-box .temperature,
.current-weather-box .weather-icon,
.current-weather-box .weather-description {
  width: auto;
}

.box .location,
.temperature,
.weather-icon,
.weather-description {
  width: 100%;
}

/* header */

header .container {
  display: flex;
  height: 60px;
  flex-direction: row;
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.btn {
  border: none;
  margin: auto;
  padding: 0.75rem;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary {
  color: #fff;
  background: #2e4053;
}

.search-box {
  display: flex;
  flex-direction: row;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields .input-box {
  position: relative;
  margin-bottom: 20px;
}

input.error {
  border: 2px solid red !important;
}

.input-field-error {
  display: flex;
  font-size: 0.8rem;
  color: red;
  padding-top: 0.2rem;
}

.form-fields .input-box .form-control {
  height: 40px;
  width: 100%;
  padding: 1rem;
  color: #444444;
  border: 1px solid #cccccc;
}

.form-fields .button-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.button-box button {
  color: #ffffff;
  font-size: 16px;
  height: 40px;
  padding: 8px 35px;
  background-color: #2e4053;
  transition: box-shadow 0.5s ease;
  border: none;
  cursor: pointer;
}

.button-box button:hover {
  box-shadow: 0px 0px 10px #2e4053;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .current-weather-box {
    width: auto;
  }
  .current-weather-box .weather-description {
    margin-left: 1rem;
  }
  .mobile-container {
    flex-wrap: wrap;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .current-weather-box {
    width: auto;
  }
  .current-weather-box .weather-description {
    margin-left: 1rem;
  }
  .mobile-container {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 480px) {
  .current-weather-box {
    width: auto;
  }
  .current-weather-box .weather-description {
    margin-left: 1rem;
  }
  .mobile-container {
    flex-wrap: wrap;
  }
}
